# NUXT
APP_ENV=local

DOMAIN_HOME=tapigol.ru
HUB=hub.tapigol.ru
JOBS=jobs.tapigol.ru
OFFICE=office.tapigol.ru
CATALOG=catalog.tapigol.ru
USLUGI=uslugi.tapigol.ru
FOOD=food.tapigol.ru
TRAVEL=travel.tapigol.ru
MED=med.tapigol.ru
PET=pet.tapigol.ru
AVIA=avia.tapigol.ru
HOTELS=hotels.tapigol.ru
REALTY=realty.tapigol.ru
JOURNAL=journal.tapigol.ru

NUXT_PORT=3000
NUXT_HOST=0.0.0.0

BASIC_ENABLED=false
BASIC_NAME=ktotam
BASIC_PASSWORD=eto_tapigo

PROXY_AUTH=tapigo.ru

## API
DOMAIN=api.tapigo.ru
API_DOMAIN=https://${DOMAIN}

# Docker
FRONT_WORKDIR=front
NGINX_WORKDIR=nginx

# Ports only for back containers
UID=1000
USER=1000
PORT_HTTP=80
PORT_HTTPS=443

YANDEX_MAP=
