@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #F7F7FC;
        font-family: 'Roboto', sans-serif;
    }
    textarea::-webkit-input-placeholder {
        color: #6E7191;
    }
    q {
        quotes: "\00ab" "\00bb";
    }
    svg.usernav,
    svg.globalnav {
        cursor: pointer;
    }
    .forms-input {
        @apply
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-black
        bg-[#EFF0F6] bg-clip-padding
        border border-solid border-[#EFF0F6]
        rounded-lg
        transition
        ease-in-out
        m-0
        focus:text-black focus:bg-white focus:border-black focus:outline-hidden
    }
    .forms-select {
        @apply
        mt-2
        appearance-none
        block
        w-full
        h-14
        px-4
        py-2
        text-base
        font-normal
        text-black
        bg-[#EFF0F6] bg-clip-padding bg-no-repeat
        border border-solid border-[#EFF0F6]
        rounded
        transition
        ease-in-out
        m-0
        focus:text-black focus:bg-white focus:border-black focus:outline-hidden
    }
    .forms-textarea {
        @apply
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-black
        bg-[#EFF0F6] bg-clip-padding
        border border-solid border-[#EFF0F6]
        rounded-lg
        transition
        ease-in-out
        m-0
        focus:text-black focus:bg-white focus:border-blue-600 focus:outline-none
    }
    .form-errors {
        @apply
        block mt-1 bg-red-600 px-4 py-2 rounded text-white text-sm
    }
}
@layer components {
    .hub-nav {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
    .hub-nav::-webkit-scrollbar {
        display: none;
    }
    .hub-nav-active {
        padding-bottom: 3px;
        color: black;
        border-bottom: 2px solid black;
    }
    .active-part {
        color: black;
        border-color: black;
    }
    .article-card-catalog-index {
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 8px;
    }
    .article-card-catalog-index h2 {
        font-size: 20px;
        font-weight: bold;
    }
    .article-card-catalog-index h3 {
        margin-top: 10px;
        font-size: .875rem;
    }
    .search-tags {
        @apply
        text-xs inline-block mr-1 py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-200 hover:bg-blue-100 text-blue-700 hover:text-black transition duration-150 ease-in-out rounded
    }
    .search-line {
        @apply py-0.5
    }
    .search-line:last-child {
        border-bottom: none;
    }
}
@layer utilities {
    @variants responsive {
        .masonry-2-col {
            column-count: 2;
        }

        .break-inside {
            break-inside: avoid;
        }
    }
}
